.container,
.containerHide {
  width: 360px;
  height: 100vh;
  margin-left: 1080px;
  position: fixed;
  box-shadow: 1px 0 8px 0 rgba(0, 0, 0, 0.1);
  background-color: white;
  z-index: 1;
}

.container {
  left: -80px;
  opacity: 0;
  -webkit-animation: slidein 0.5s forwards;
  -webkit-animation-delay: 0.1s;
  animation: slidein 0.5s forwards;
  animation-delay: 0.1s;
}

.containerHide {
  left: 0;
  opacity: 1;
  -webkit-animation: slideout 0.5s forwards;
  -webkit-animation-delay: 0.1s;
  animation: slideout 0.5s forwards;
  animation-delay: 0.1s;
}

@-webkit-keyframes slidein {
  100% {
    left: 0;
    opacity: 1;
  }
}

@keyframes slidein {
  100% {
    left: 0;
    opacity: 1;
  }
}

@-webkit-keyframes slideout {
  100% {
    left: -80px;
    opacity: 0;
    z-index: -1;
  }
}

@keyframes slideout {
  100% {
    left: -80px;
    opacity: 0;
    z-index: -1;
  }
}

.inner-container {
  padding: 20px;
  position: relative;
}

.tipCard,
.tipCardAnimation {
  cursor: pointer;
  width: 320px;
  border-radius: 4px;
  background-color: #f2f4f9;
  padding: 20px;
  margin-bottom: 10px;
  position: relative;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tipIcon {
    display: flex;
    justify-content: center;
    align-items: center;
}

.tipContent {
  width: 240px;
  font-size: 14px;
  line-height: 1.5;
  color: #333333;
}

.tipCardAnimation {
  -webkit-animation: slide 0.5s forwards;
  animation: slide 0.5s forwards;
  left: 0;
}

@-webkit-keyframes slide {
  50% {
    left: -30px;
  }

  100% {
    left: 0;
  }
}

@keyframes slide {
  50% {
    left: -30px;
  }

  100% {
    left: 0;
  }
}
