.smart-resume {
    .writtenAssistantWidgetHeader {
      margin-bottom: 20px;

      .input-group-prepend {
        width: 105px;
      }

      .input-group-append {

        .input-group-text {
          padding: 0;

          button {
            background-color: white;
            border: none;
          }
        }
      }
    }
    .tips-container {
        height: calc(100vh - 160px);
        overflow-y: auto;
    }
    .tips-container::-webkit-scrollbar {
        display: none;
    }
}