apiVersion: v1
kind: ConfigMap
metadata:
  name: common-config
data:
  SPRING_PROFILES_ACTIVE: prod
  SERVER_PORT: "80"
  EMAIL_SERVICE_ENDPOINT: http://email-service
  ACCOUNT_SERVICE_ENDPOINT: http://account-service
  RESUME_SERVICE_ENDPOINT: http://resume-service
  JOB_SERVICE_ENDPOINT: http://job-service
  MATCHING_SERVICE_ENDPOINT: http://matching-service
  SENTRY_DSN: https://270864132b0845e4a9ae4f68f96c77c2@o434398.ingest.sentry.io/5391423
  SIGNING_SECRET: secret
  INTERCOM_ACCESS_TOKEN: YOUR_INTERCOM_ACCESS_TOKEN
  INTERCOM_APP_ID: TBD
  AWS_ACCESS_KEY: <PROD_AWS_ACCESS_KEY>
  AWS_ACCESS_SECRET: <PROD_ACCESS_SECRET>
  RECAPTCHA_PUBLIC: test-recaptcha-public
  RECAPTCHA_PRIVATE: test-recaptcha-private
  ACCOUNT_DATASOURCE_URL: TBD
  ACCOUNT_DATASOURCE_USERNAME: prod_root_name
  ACCOUNT_DATASOURCE_PASSWORD: pw_tbd
  RESUME_DATASOURCE_URL: TBD
  RESUME_DATASOURCE_USERNAME: prod_root_name
  RESUME_DATASOURCE_PASSWORD: pw_tbd
  JOB_DATASOURCE_URL: TBD
  JOB_DATASOURCE_USERNAME: prod_root_name
  JOB_DATASOURCE_PASSWORD: pw_tbd
  MATCHING_DATASOURCE_URL: TBD
  MATCHING_DATASOURCE_USERNAME: prod_root_name
  MATCHING_DATASOURCE_PASSWORD: pw_tbd
  MOCK_JOB_FETCH: set_during_deployment
  JOB_FETCH_EVERY_SECS: 864000