.container {
  margin: auto;
  width: 550px;
}

.illustration {
  margin: 80px auto;
  height: 290px;
  width: 322px;
}

.callToAction {
  text-align: center;
}

.description {
  height: 2.5rem;
  font-size: 1.875rem;
  line-height: 1;
  color: #333333;
  margin: 26px 0;
}

.action {
  width: 380px;
  height: 40px;
}