.job-collection {
  width: 1000px;
  margin: 0 auto;
  h1 {
    margin: 2.5rem 0;
    font-size: 30px;
    color: #333333;
  }
  .btn-container {
    margin-bottom: 1.625rem;

    .all {
      margin-right: 1.25rem;
      border-top-right-radius: 20px !important;
      border-bottom-right-radius: 20px !important;
    }
    .all,
    .applied {
      font-size: 14px;
      color: #bfc4d3;
      background-color: #fff;
      border-color: #fff;
      border-radius: 20px;
      padding: 0.5rem 1rem;
    }
    .all.active,
    .applied.active {
      color: #fff;

      background-color: #007bff;
      border-color: #007bff;
    }
  }
}
