<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>smartresume.careers</title>
    <link rel="stylesheet" href="./css/home.css" />
  </head>
  <body>
    <header>
      <nav>
        <div class="left">
          <img src="./assets/logo.svg" />
        </div>
        <div class="right">
          <a href="/" class="hidden-mobile nav-item active"> 首页 </a>
          <a href="/" class="hidden-mobile nav-item">智能创建</a>
          <a href="/" class="hidden-mobile nav-item">背景提升</a>
          <a href="/" class="hidden-mobile nav-item">关于我们</a>
          <a href="/" class="nav-item">登入/注册</a>
        </div>
      </nav>
    </header>
    <section class="banner">
      <div class="display-mobile banner-image">
        <img src="./assets/bannerBG.png" />
      </div>
      <div class="banner-left">
        <h1>
          只有前2%的简历能过第一轮筛选<br />
          用快刀简历，成为这前<span class="blue">2%</span>吧！
        </h1>
        <p>
          5分钟内<span class="blue underline">免费</span
          >创建一份简历，百万毕业生的最佳选择
        </p>
        <a href="/"> 点击开始创建 </a>
      </div>
      <div class="banner-right">
        <!-- <img src="./assets/resume.png" /> -->
      </div>
    </section>
    <div class="display-mobile banner-resume">
      <img src="./assets/resume.png" />
    </div>
    <section class="section02">
      <h2>我们的用户现入职于以下企业</h2>
      <div class="row">
        <div class="col">
          <img src="./assets/company_logo/11.png" />
        </div>
        <div class="col">
          <img src="./assets/company_logo/12.png" />
        </div>
        <div class="col">
          <img src="./assets/company_logo/13.png" />
        </div>
        <div class="col">
          <img src="./assets/company_logo/14.png" />
        </div>
        <div class="col">
          <img src="./assets/company_logo/15.png" />
        </div>
        <div class="col">
          <img src="./assets/company_logo/16.png" />
        </div>
      </div>
      <div class="row">
        <div class="col">
          <img src="./assets/company_logo/21.png" />
        </div>
        <div class="col">
          <img src="./assets/company_logo/22.png" />
        </div>
        <div class="col">
          <img src="./assets/company_logo/23.png" />
        </div>
        <div class="col">
          <img src="./assets/company_logo/24.png" />
        </div>
        <div class="col">
          <img src="./assets/company_logo/25.png" />
        </div>
        <div class="col">
          <img src="./assets/company_logo/26.png" />
        </div>
      </div>
    </section>
    <div class="divider">
      <img src="./assets/DeviderShadow.png" class="hidden-mobile" />
      <img src="./assets/mobile-shadow.svg" class="display-mobile" />
    </div>
    <section>
      <div class="image-text-row">
        <div class="image-left">
          <img src="./assets/1.png" />
        </div>
        <div class="text-right text-content svg1">
          <h3>快捷引导填写</h3>
          <div class="image-wrapper">
            <img src="./assets/1.png" />
          </div>
          <p>
            <b> 专业全面 </b>
          </p>
          <p>
            参考HR专家、行业高管共同审阅的项目要点，以及简历撰写建议，手把手，一步步地，帮您充分挖掘自身资质亮点。
          </p>
          <p>
            <b> 简单快捷 </b>
          </p>
          <p>
            通过拖拽、点击的方式，直接将撰写例句，放入编辑区，高亮可替换部分，他山之石，可以攻玉，参考成功例句，帮助自己脱颖而出，量化成就，专业表达，让您顺利通过筛选。
          </p>
          <p class="action-item">
            <a href="/"> 点击开始创建 </a>
          </p>
        </div>
      </div>
      <div class="image-text-row">
        <div class="text-left text-content svg2">
          <h3>高效排版编辑</h3>
          <div class="image-wrapper">
            <img src="./assets/2.png" />
          </div>
          <p>
            <b> 突出内容 </b>
          </p>
          <p>
            大中型企业，一般通过自动机筛（Machine Screening, Application
            Tracking System
            --ATS），对候选人资质，进行初步筛选，然后进行人工筛选。简历的重点，是要突出内容，是当下及将来的趋势。
          </p>
          <p>
            <b> 一键整页 </b>
          </p>
          <p>
            版式是为内容服务的，整洁清晰的排版，大大提高通过机筛、人筛的效率；过分花哨的排版，反而有碍于ATS识别关键内容。一键自动整页，方便快捷，把内容自动规整到一页或者两页纸，显得专业干练。方便您更加专注在经历资质的展示上。
          </p>
          <p class="action-item">
            <a href="/"> 点击开始创建 </a>
          </p>
        </div>
        <div class="image-right"><img src="./assets/2.png" /></div>
      </div>
      <div class="image-text-row">
        <div class="image-left"><img src="./assets/3.png" /></div>
        <div class="text-right text-content svg3">
          <h3>针对岗位智能精修</h3>
          <div class="image-wrapper">
            <img src="./assets/3.png" />
          </div>
          <p>
            <b> 岗位针对性 </b>
          </p>
          <p>
            因为公司业务场景、组织架构、使用工具不同等原因，即使同一类型的岗位，具体要求也往往不同。求职是一个竞争的过程，仅仅展示自己，是不够的。深度经历挖掘，回答了“我是谁”这个问题；针对岗位精修，回答了“为何选我”这个问题。
          </p>
          <p>
            <b> 智能精修 </b>
          </p>
          <p>
            通过剖析行业主流ATS系统，依托AI、大数据等技术，解析“岗位要求”与“我的资质”之间的异同；参考行业精选表述，通过拖拽、替换的方式，快速完成精修。
          </p>
          <p class="action-item">
            <a href="/"> 点击开始创建 </a>
          </p>
        </div>
      </div>
      <div class="image-text-row">
        <div class="text-left text-content svg4">
          <h3>一站式岗位推荐搜索</h3>
          <div class="image-wrapper">
            <img src="./assets/4.png" />
          </div>
          <p>
            <b> 岗位匹配 </b>
          </p>
          <p>
            快刀根据您的专业、经历细节、教育背景等资质，自动匹配合适的岗位。
          </p>
          <p>
            <b> 岗位搜索 </b>
          </p>
          <p>
            您不用在不同平台，注册多个账号，在快刀这里，检索到非常完整的岗位列表，同时，您可以通过不同关键词搜索工作：职位名称，城市，行业，公司名称，岗位类型（实习，全职）等。找到您中意的刚位之后，您可以快速进行对岗智能精修，然后投递。
          </p>
          <p class="action-item">
            <a href="/"> 点击开始创建 </a>
          </p>
        </div>
        <div class="image-right"><img src="./assets/4.png" /></div>
      </div>
    </section>
    <div class="divider">
      <img src="./assets/DeviderShadow.png" class="hidden-mobile" />
      <img src="./assets/mobile-shadow.svg" class="display-mobile" />
    </div>
    <section class="section03">
      <h2>用过的人怎么说</h2>
      <div class="row">
        <div class="col-4">
          <div class="image-container">
            <img src="./assets/tester.jpg" />
          </div>
          <p class="test-name">刘程兴</p>
          <p class="blue title">
            <span> 普华永道 </span>
            <i class="dot"> </i>
            <span> 金融分析师 </span>
          </p>
          <p>
            毕业前我试着投了好几家心仪的企业都没有收到任何回复，后来我就去找了我们学校的的就业顾问。顾问我推荐了这个免费的工具，就试着用用。后来修改了我很多之前简历的错误还推荐了一些课给我。半年后我面试普华通过了！谢谢！
          </p>
        </div>
        <div class="col-4">
          <div class="image-container">
            <img src="./assets/tester.jpg" />
          </div>
          <p class="test-name">赵晓晓</p>
          <p class="blue title">
            <span> 新世创投 </span>
            <i class="dot"> </i>
            <span> 高级投资分析师 </span>
          </p>
          <p>
            以前我在小公司做会计。跳槽前我用过其他的简历修改工具，都没找到什么合适的工作。用了快刀之后竟然发现我其实可以试试投资分析师。我上了快刀推荐的分析师执照课程不久后就拿到了新世创投的工作。
          </p>
        </div>
        <div class="col-4">
          <div class="image-container">
            <img src="./assets/tester.jpg" />
          </div>
          <p class="test-name">张敏颐</p>
          <p class="blue title">
            <span> 惠普中国 </span>
            <i class="dot"> </i>
            <span> 初级前端工程师 </span>
          </p>
          <p>
            上海交大毕业的我在参加了很多校招活动后竟然一个面试的机会都没有。朋友让我搜下看看是不是我简历写得不好。我看到快刀后试了一下，发现我简历写得非常差。根据里面的简历修改推荐做了大篇幅修改后就获得了很多面试机会！
          </p>
        </div>
      </div>
      <p class="btn-trial">
        <a href="/" class="button">这么好用？我也试试</a>
      </p>
    </section>
    <footer>
      <div class="content-wrapper">
        <div class="logo">
          <img src="./assets/logo.svg" />
        </div>
        <div class="links">
          <a href="http://" target="_blank" rel="noopener noreferrer"
            >产品介绍</a
          >
          <a href="http://" target="_blank" rel="noopener noreferrer"
            >联系我们</a
          >
          <a href="http://" target="_blank" rel="noopener noreferrer"
            >关于我们</a
          >
          <a href="http://" target="_blank" rel="noopener noreferrer"
            >使用说明</a
          >
          <a href="http://" target="_blank" rel="noopener noreferrer"
            >隐私条款</a
          >
          <a href="http://" target="_blank" rel="noopener noreferrer"
            >加入我们</a
          >
        </div>
        <div class="record">京ICP备123456789号 ｜ 京公安备123456789号</div>
      </div>
      <div class="copyright">Copyright @ 大眼伯乐教育科技（北京）有限公司</div>
    </footer>
  </body>
</html>
