<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:with="http://www.thymeleaf.org/extras/with"
      layout:decorate="~{layout}"
      with:includeScripts="true"
>
<th:block layout:fragment="content">
  <div class="content-body">
    <p class="title">
      登入
    </p>
    <form th:action="@{/login}" th:method="post">
      <div class="warning-message" th:if="${page.denied}">
        <p>对不起，账户或者密码不对.</p>
        <p>如果您忘记了密码，请<a th:href="@{/password-reset}" href="reset.html">点击这里</a>重置密码.</p>
      </div>
      <input type='hidden' name='return_to' th:value='${page.returnTo}'/>
      <div class="form-content">
        <div class="form-group">
          <label for="login-email">邮箱</label>
          <input
            name="email"
            type="email"
            class="form-control"
            id="login-email"
            aria-describedby="emailHelp"
            placeholder="请输入您的账户邮箱"
            th:value="${page.previousEmail}"
            autofocus
          />
        </div>
        <div class="form-group">
          <label for="login-password">密码</label>
          <input
            name="password"
            type="password"
            class="form-control"
            id="login-password"
            placeholder="请输入您的登入密码"
          />
        </div>
      </div>
      <div class="button-group">
        <button type="submit" class="btn btn-primary float-left">
          登入
        </button>
        <button type="submit" class="btn btn-success float-right">
          <img th:src="@{img/wechat_white.svg}" alt="WeChat logo" />
          微信登入
        </button>
      </div>
    </form>
    <p class="label">我还没有账号 <a th:href="@{/sign-up}" href="signup.html">点击注册</a></p>
  </div>
</th:block>
</html>