<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:with="http://www.thymeleaf.org/extras/with"
      layout:decorate="~{layout}"
      with:includeScripts="true"
>
<th:block layout:fragment="content">
  <div class="content-body">
    <p class="title">
      账号注册
    </p>
    <form id="v2-signup-form" name="v2-signup-form" th:action="@{/confirm}" th:method="post">
      <div class="form-content">
        <div class="form-group">
          <label for="sign-up-form-main">邮箱</label>
          <input
            name="email"
            type="email"
            class="form-control"
            id="sign-up-form-main"
            aria-describedby="emailHelp"
            placeholder="请输入您的账户邮箱"
            autofocus
          />
        </div>
      </div>
      <div class="button-group">
        <a th:href="@{/login}" href="login.html"  class="btn btn-light float-left" tabindex="-1" role="button" aria-disabled="true">
          返回
        </a>
        <button type="submit" name="subscribe" class="btn btn-success float-right">
          注册邮箱
        </button>
      </div>
    </form>
  </div>
</th:block>
</html>