<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  xmlns:with="http://www.thymeleaf.org/extras/with" layout:decorate="~{layout}" with:includeScripts="true">
<th:block layout:fragment="content">
  <style>
    .popup-modal {
      width: 100%;
      position: fixed;
      top: 0;
      left: 0;
      height: 100vh;
      display: none;
      background-color: rgba(0, 0, 0, 0.5);
      justify-content: center;
      align-items: center;
    }
    .popup-modal-content {
      width: 900px;
      height: 680px;
      padding: 15px 24px 15.2px 26px;
      border-radius: 8px;
      box-shadow: 0 12px 24px 0 rgba(0, 0, 0, 0.1);
      background-color: #ffffff;
    }

    .popup-modal-detail {
      height: 530px;
      overflow: auto;
    }

    .agree {
      text-align: center;
    }

    #agree {
      border: none;
      display: inline-block;
      width: 112px;
      height: 41px;
      margin: 0 0 0 21px;
      padding: 10px 16px;
      font-family: MicrosoftYaHei;
      font-size: 16px;
      border-radius: 4px;
      color: #ffffff;
      background-color: #3e89ec;
    }
    #modal-toggle {
      font-weight: bold;
      font-size: 14px;
      color: #3e89ec;
      cursor: pointer;
    }
    .popup-modal-title h2 {
      font-family: MicrosoftYaHei;
      font-size: 30px;
      font-weight: bold;
      color: #3e89ec;
    }
    .popup-modal-title h3 {
      margin-top: 24px;
      font-family: MicrosoftYaHei;
      font-size: 20px;
      font-weight: bold;
      color: #333333;
    }

    .popup-modal-detail>h3 {
      color: #3e89ec;
      font-weight: bold;
      font-size: 22px;
    }

    .popup-modal-detail>p {
      font-size: 16px;
      color: #333333;
      line-height: 2;
    }

    .borders {
      border: 1px solid #f0f0f0;
      padding: 10px 24px;
    }
  </style>
  <div class="popup-modal">
    <div class="popup-modal-content">
      <div class="borders">
        <div class="popup-modal-title">
          <h2>
            快刀简历使用条款
          </h2>
          <h3>
            欢迎您使用快刀简历！
          </h3>
        </div>
        <div class="popup-modal-detail">
          <p>
            快刀简历（见下列定义）是由大眼伯乐教育科技（北京）有限公司（下称“大眼伯乐教育科技（北京）”或“我们”）提供的互联网软件服务。本服务协议（下称“服务条款”或者“协议”）是您与大眼伯乐教育科技（北京）之间关于您（“您”或“用户”）访问和使用快刀简历并使用大眼伯乐教育科技（北京）提供的其他服务（下称“服务”）的主要协议。您注册、登录、使用快刀简历和/或享受大眼伯乐教育科技（北京）提供的服务，即表示您同意接受服务条款。因此，您在申请注册流程中点击同意本协议之前，应当认真阅读本协议。请您务必审慎阅读、充分理解各条款内容。如您对协议有任何疑问，可向快刀简历客服info@smartresume.careers咨询。当您按照注册页面提示填写信息、阅读并同意本协议且完成全部注册程序后，即表示您已充分阅读、理解并接受本协议的全部内容，并与快刀简历达成一致，成为快刀简历的“用户”。阅读本协议的过程中，如果您不同意本协议或其中任何条款约定，您应立即停止注册程序。
          </p>
          <p>
            由于互联网高速发展，您与大眼伯乐教育科技（北京）签署的本协议列明的条款并不能完整罗列并覆盖您与大眼伯乐教育科技（北京）之间的所有权利与义务，现有的约定也不能保证完全符合未来发展的需求。因此，大眼伯乐教育科技（北京）法律声明及隐私权政策等均为本协议的补充协议，与本协议不可分割且具有同等法律效力。如您使用快刀简历或大眼伯乐教育科技（北京）的其他服务，视为您同意上述补充协议。
          </p>
          <p>
            大眼伯乐教育科技（北京）有权不时地对服务条款做任何修改和补充，并在快刀简历上公布。通常情况下（例如当需要进行修改或补充以满足适用法律要求时），对服务条款的修改和补充将在公布时立即生效。您继续访问和使用快刀简历即视为您接受修订后的服务条款。否则，您有权通过停止访问快刀简历且拒绝使用服务、删除您在快刀简历上的信息和帐户等方式来终止服务条款。
          </p>
          <h3>
            1.定义
          </h3>
          <p>大眼伯乐教育科技（北京）：指大眼伯乐教育科技（北京）有限公司，快刀简历的经营者以及服务提供者。</p>
          <p>快刀简历服务：大眼伯乐教育科技（北京）基于互联网，以包含快刀简历网站、客户端等在内的各种形态（包括未来技术发展出现的新的服务形态）向您提供的各项免费或增值服务。</p>
          <p>用户：指具有完全民事行为能力的快刀简历服务使用者。用户身份包括“用人者”、“候选人”等。</p>
          <p>用人者：指有用人需求，具有用人资格，在快刀简历上发布招聘及相关信息的企事业单位或其他组织。</p>
          <p>候选人：指利用快刀简历服务进行职位浏览、投递等等行为的个人。</p>
          <p>账号：指用户为使用快刀简历服务及大眼伯乐教育科技（北京）服务而登记注册的用户身份识别信息；用户只有注册账号才能使用快刀简历服务及大眼伯乐教育科技（北京）服务的服务。</p>
          <p>大眼伯乐教育科技（北京）的关联公司：指由大眼伯乐教育科技（北京）控股、参股或者通过协议控制大眼伯乐教育科技（北京）或者通过协议由大眼伯乐教育科技（北京）控制的公司。</p>

          <h3>
            2.用户资格
          </h3>
          <p>
            2.1您确认，在您开始注册程序使用快刀简历服务前，您应当具备中华人民共和国法律规定的与您行为相适应的民事行为能力，包括（1）具备完全民事行为能力的自然人；（2）依据中华人民共和国法律、行政法规、部门规章等规范性文件成立并合法存续的企业、机关、社团、事业单位和其他组织，具有能使用大眼伯乐教育科技（北京）服务的民事权利能力和民事行为能力并且具有合法用人资格（统称为“用人者”）。
          </p>
          <p>
            2.2此外，您还需确保您不是任何国家、地区或国际组织实施的贸易限制、经济制裁或其他法律法规限制的对象，也未直接或间接为前述对象提供资金、商品或服务，否则您应当停止使用快刀简历服务，同时您理解违反前述要求可能会造成您无法正常注册及使用快刀简历服务。
          </p>
          <p>
            2.3如果您是用人者，快刀简历以及大眼伯乐教育科技（北京）有权要求您提供相应的资质文件（包括但不限于营业执照、经营许可证等），并依据常识及社会大众通常认知水平做出是否合规的判断而不必须依据公权力机关事后通知、查处、判决等文件。对于涉及经营人力资源外包业务、劳务分包业务、猎头业务、招聘业务、职业教育培训业务等可能与大眼伯乐教育科技（北京）业务存在竞争关系或利益冲突的企业，大眼伯乐教育科技（北京）保留拒绝其注册、使用大眼伯乐教育科技（北京）的权利。
          </p>
          <p>
            2.4为了合法、合规地为用户提供更好的服务，大眼伯乐教育科技（北京）将不时调整用户需提交的信息。如用户不同意提供上述信息，则应当停止使用大眼伯乐教育科技（北京）的服务。用户需同意大眼伯乐教育科技（北京）对其注册信息资料进行审查，并就相关疑问或问题进行解答。
          </p>
          <h3>
            3.账户说明
          </h3>
          <p>3.1当您按照注册页面提示填写信息、阅读并同意本协议且完成全部注册程序后，您可获得快刀简历账户并成为快刀简历用户。
          </p>
          <p>
            3.2快刀简历只允许每位用户使用一个快刀简历账户。如有证据证明或大眼伯乐教育科技（北京）根据快刀简历规则判断您存在不当注册或不当使用多个快刀简历账户的情形，快刀简历可采取冻结或关闭账户、取消订单、拒绝提供服务等措施，如给快刀简历及相关方造成损失的，您还应承担赔偿责任。
          </p>
          <p>3.3您有权使用您设置或确认的用户名、邮箱、手机号码（以下简称“账户名称”）及您设置的密码（账户名称及密码合称“账户”）登录快刀简历。
          </p>
          <p>
            3.4由于您的快刀简历账户关联您的个人或者授权代表的信息，您的快刀简历账户仅限您本人以及授权代表使用。未经快刀简历同意，您直接或间接授权第三方使用您快刀简历账户或获取您账户项下信息的行为无效。如大眼伯乐教育科技（北京）认定您快刀简历账户的使用可能危及您的账户安全及/或快刀简历信息安全的，快刀简历可拒绝提供相应服务或终止本协议。
          </p>
          <p>
            3.5仅当有法律明文规定、司法裁定或经大眼伯乐教育科技（北京）同意，您可进行账户的转让。您的账户一经转让，该账户项下权利义务一并转移。除此外，您的账户不得以任何方式转让，否则快刀简历有权追究您的违约责任，且由此产生的责任及后果均由您自行承担。
          </p>
          <p>3.6为使您更好地使用快刀简历的各项服务，保障您的账户安全，大眼伯乐教育科技（北京）可要求您按相关法律法规规定完成实名认证。
          </p>
          <p>3.7如您的账户符合以下任何一条件时，则大眼伯乐教育科技（北京）可回收您的账户，您的账户将不能再登录快刀简历，相应服务同时终止：<br>
            （一）未通过实名认证的快刀简历企业账户；<br>
            （二）连续12个月未登录的快刀简历企业或个人账户。
          </p>
          <h3>
            4.注册信息管理
          </h3>
          <p>4.1真实合法</p>
          <p>
            在使用快刀简历服务时，您应当按快刀简历页面的提示准确完整地提供您的信息（包括您的姓名及电子邮件地址、联系电话、联系地址、资质文件如企业营业执照等），以便大眼伯乐教育科技（北京）或其他用户与您联系。您了解并同意，您有义务保持您提供信息的真实性及有效性。
          </p>
          <p>
            您设置的大眼伯乐教育科技（北京）会员名不得违反国家法律法规及快刀简历关于会员名的管理规定，否则大眼伯乐教育科技（北京）可回收您的大眼伯乐教育科技（北京）会员名。大眼伯乐教育科技（北京）会员名的回收不影响您以邮箱、手机号码登录快刀简历并使用快刀简历服务。
          </p>
          <p>尽管有前述规定，大眼伯乐教育科技（北京）无义务对任何用户的任何登记资料承担任何责任，包括但不限于鉴别、核实任何登记资料的真实性、准确性、完整性、适用性及/或是否为最新资料的责任。</p>
          <p>4.2更新维护</p>
          <p>
            您应当及时更新您提供的信息，在法律有明确规定要求大眼伯乐教育科技（北京）作为平台服务提供者必须对部分用户（如平台卖家等）的信息进行核实的情况下，大眼伯乐教育科技（北京）将依法不时地对您的信息进行检查核实，您应当配合提供最新、真实、完整、有效的信息。
          </p>
          <p>
            如大眼伯乐教育科技（北京）按您最后一次提供的信息与您联系未果、您未按大眼伯乐教育科技（北京）的要求及时提供信息、您提供的信息存在明显不实或行政司法机关核实您提供的信息无效的，您将承担因此对您自身、他人及大眼伯乐教育科技（北京）造成的全部损失与不利后果。大眼伯乐教育科技（北京）可向您发出询问或要求整改的通知，并要求您进行重新认证，直至中止、终止对您提供部分或全部快刀简历服务，大眼伯乐教育科技（北京）对此不承担责任。
          </p>
          <p>4.3账户安全规范</p>
          <p>
            您的账户为您自行设置并由您保管，大眼伯乐教育科技（北京）任何时候均不会主动要求您提供您的账户密码。因此，建议您务必保管好您的账户，并确保您在每个上网时段结束时退出登录并以正确步骤离开快刀简历。尤其用人者应对其在快刀简历账户的实际使用人（包括但不限于用人者员工）进行严格管理，并保证实际使用人严格遵守快刀简历的协议与规则，实际使用人在快刀简历上进行的任何行为均视为用人者行为，用人者就上述行为承担全部责任。
            账户因您主动泄露或因您遭受他人攻击、诈骗等行为导致的损失及后果，大眼伯乐教育科技（北京）并不承担责任，您应通过司法、行政等救济途径向侵权行为人追偿。</p>
          <p>除大眼伯乐教育科技（北京）存在过错外，您应对您账户项下的所有行为结果负责。</p>
          <p>
            如发现任何未经授权使用您账户登录快刀简历或其他可能导致您账户遭窃、遗失的情况，建议您立即更改密码、通知大眼伯乐教育科技（北京），并授权大眼伯乐教育科技（北京）将该信息同步给其他关联平台。您理解大眼伯乐教育科技（北京）对您的任何请求采取行动均需要合理时间，且大眼伯乐教育科技（北京）应您请求而采取的行动可能无法避免或阻止侵害后果的形成或扩大，除大眼伯乐教育科技（北京）存在法定过错外，大眼伯乐教育科技（北京）不承担责任。
          </p>
          <p>
            若您提供任何违法、虚假、不道德或大眼伯乐教育科技（北京）保认为不适合在快刀简历上展示的资料；或者大眼伯乐教育科技（北京）保有理由怀疑您的资料属于病毒程序或恶意操作；或者您违反本服务条款的规定；或者未经大眼伯乐教育科技（北京）保同意，将快刀简历用于商业目的，大眼伯乐教育科技（北京）保有权暂停或终止您的帐号，并拒绝您于现在和未来使用服务之全部或任何部分。
          </p>
          <h3>
            5.服务内容
          </h3>
          <p>
            快刀简历为候选人提供4类的简历服务：<br>
            • 提供简历撰写工具。<br>
            • 提供简历投递渠道。
          </p>
          <p>快刀简历为用人者提供如下服务：</p>
          <p>
            根据实际需要和大眼伯乐教育科技（北京）不时提供的其他服务内容，大眼伯乐教育科技（北京）可能与您另行签订其他协议。同时，即使未另行签订其他协议，您使用快刀简历的具体服务也将被视为您同意大眼伯乐教育科技（北京）关于该具体服务的任何要求。如果其他协议和本条款之间存在冲突，应以其他协议为准，但以该冲突和与该协议特定事宜相关为限。
          </p>
          <h3>
            6.内容使用权
          </h3>
          <p>6.1用户承诺使用快刀简历仅用于用户自身招聘（含招聘宣传、雇主品牌建设）、找工作以及进行职业问答等用途，不得偏离网站具体功能模块之目的。</p>
          <p>
            6.2用户在快刀简历上填写的内容（包含但不限于快刀简历目前各产品功能里的内容）仅表明其个人的立场和观点，并不代表大眼伯乐教育科技（北京）的立场或观点。作为内容的发表者，需自行对所发表的内容负责，因所发表内容引发的一切纠纷，由该内容的发表者承担全部法律责任及连带责任，大眼伯乐教育科技（北京）不承担任何法律责任及连带责任。
          </p>
          <p>
            6.3用户在快刀简历发布侵犯他人知识产权或其他合法权益的内容，快刀简历有权利但无义务予以删除并保留移交司法机关处理的权利。无论是否删除或意见司法机关处理，大眼伯乐教育科技（北京）和快刀简历均不承担任何法律责任及连带责任。
          </p>
          <p>6.4用户不得使用快刀简历服务发送或传播敏感信息和违反国家法律制度的信息，包括但不限于下列信息：<br>
            • 反对宪法所确定的基本原则的；<br>
            • 危害国家安全，泄露国家秘密，颠覆国家政权，破坏国家统一的；<br>
            • 损害国家荣誉和利益的；<br>
            • 煽动民族仇恨、民族歧视，破坏民族团结的；<br>
            • 破坏国家宗教政策，宣扬邪教和封建迷信的；<br>
            • 散布谣言，扰乱社会秩序，破坏社会稳定的；<br>
            • 散布淫秽、色情、赌博、暴力、凶杀、恐怖或者教唆犯罪的；<br>
            • 侮辱或者诽谤他人，侵害他人合法权益的；<br>
            • 侵犯他人知识产权或涉及第三方商业秘密及其他专有权利的；<br>
            • 存在可能破坏、篡改、删除、影响快刀简历或大眼伯乐教育科技（北京）任何系统正常运行或未经授权秘密获取大眼伯乐教育科技（北京）平台及其他用户的数据、个人资料的病毒、木马、爬虫等恶意软件、程序代码的；<br>
            • 含有法律、行政法规禁止的其他内容的。</p>
          <p>
            用户发布任何上述内容的，快刀简历和大眼伯乐教育科技（北京）将作出独立判断立即暂停或终止用户的服务帐号并且删除相关内容。用户需对自己在网上的行为承担法律责任，届时快刀简历和大眼伯乐教育科技（北京）不承担任何法律责任及连带责任。对于用户已支付的服务费用（如有），快刀简历和大眼伯乐教育科技（北京）有权不予退还。
          </p>
          <p>6.5找工作行为</p>
          <p>用户（候选人）可通过快刀简历简历模块完善个人简历及相关信息，也可上传独立简历。</p>
          <p>用户利用快刀简历提供的沟通工具（如有）与用人者进行沟通的，应严格遵守本协议的全部规则，且沟通行为及沟通内容应仅限于找工作相关。
            用户找工作，应当如实提供本人基本信息以及应聘岗位相关的知识、技能、工作经历等情况，保证遵守法律、法规对于服务期、从业限制、保密等方面的规定。如前述信息不实或行为违反法律法规的，用户自行承担相应的不利后果，包括被用人者不予录用或录用后解除劳动关系等。因此给用人者、快刀简历或第三人造成损失的，还应承担相应的赔偿责任。
            快刀简历将不时举办某些专项活动，用于满足用人者特殊的招聘需求和候选人的职业发展需求。用户可能需要满足一定的要求，如工作经验、技能证书等，经过快刀简历一定审查，方可获得参与资格。</p>
          <p>6.6 用户之间的保密义务</p>
          用户对利用快刀简历服务从而获取的其他用户的任何信息，负有保密的义务。保密的程度依据法律法规、用户间的合意以及一般人的合理注意义务决定。
          <p>6.7用户间纠纷</p>
          <p>候选人与用人者之间的线下活动，包括沟通、面试、入职、建立劳动关系等，不受快刀简历的约束。双方发生纠纷的，依据法律法规、双方合同处理，快刀简历不负责处理。</p>
          <p>快刀简历提供用户反馈渠道，包括网站特定模块或功能，用户可按特定方式表达、反映用户间的纠纷，快刀简历将尽快处理这些问题，但所做出的答复可能不具有法律约束力，用户仍然可以按照法律法规规定将纠纷提交相关公权力机关。
          </p>
          <h3>
            7.用户信息的保护及授权
          </h3>
          <p>7.1个人信息的保护</p>
          <p>
            大眼伯乐教育科技（北京）非常重视用户个人信息（即能够独立或与其他信息结合后识别用户身份的信息）的保护，在您使用大眼伯乐教育科技（北京）提供的服务时，您同意大眼伯乐教育科技（北京）按照在大眼伯乐教育科技（北京）上公布的隐私权政策收集、存储、使用、披露和保护您的个人信息。因此大眼伯乐教育科技（北京）建议您完整地阅读用户隐私条款，以帮助您更好地保护您的隐私权。
          </p>
          <p>
            使用快刀简历和大眼伯乐教育科技（北京）提供的服务，即表示您同意大眼伯乐教育科技（北京）合法收集和使用有关您及您所使用服务的技术性或诊断性信息。收集到的这些信息将用于改进快刀简历产品的内容和技术，提升快刀简历的服务品质。
            大眼伯乐教育科技（北京）不会将您的信息和内容提供或出售给其他的组织或个人，但以下情况除外：<br>
            • 您的事先同意或授权，或您于快刀简历上主动与第三方进行分享操作；<br>
            • 司法机关或有权政府机构或任何法律法规部门规章要求大眼伯乐教育科技（北京）提供该等信息；<br>
            • 您违反了本服务条款，且大眼伯乐教育科技（北京）需要向第三方提供的。</p>
          <p>7.2非个人信息的保护和授权</p>
          <p>
            对于您提供、发布及在使用快刀简历或大眼伯乐教育科技（北京）服务中形成的除个人信息外的文字、图片、视频、音频等非个人信息，均不会因上传、发布等行为发生知识产权、肖像权等权利的转移。除非我们另行说明，在法律允许的范围内，您免费授予大眼伯乐教育科技（北京）非排他的、无地域限制的许可使用（包括存储、使用、复制、修订、编辑、发布、展示、翻译、分发上述信息或制作派生作品，以已知或日后开发的形式、媒体或技术将上述信息纳入其它作品内等）及可再许可第三方使用的权利，以及可以自身名义对第三方侵权行为取证及提起诉讼的权利。
            为方便您使用快刀简历和大眼伯乐教育科技（北京）的其他相关服务，您授权大眼伯乐教育科技（北京）将您在账户注册和使用快刀简历和大眼伯乐教育科技（北京）服务过程中提供、形成的信息传递给大眼伯乐教育科技（北京）的关联服务提供者，或从关联服务提供者获取您在使用相关服务期间形成的信息。
          </p>
          <h3>
            8.版权
          </h3>
          <p>8.1
            本协议条款明确规定的，以及任何与快刀简历或者大眼伯乐教育科技（北京）服务有关的内容的知识产权，由大眼伯乐教育科技（北京）所享有。该条款所指内容包括但不限于快刀简历的外观设计、计算机代码、内容、资讯、用户信息等。该条款所指知识产权包括但不限
            于专利权、著作权、商标权等。未经大眼伯乐教育科技（北京）事先书面许可，您不能复制、拷贝、或者使用任何部分的代码和外观设计。</p>
          <p>
            8.2大眼伯乐教育科技（北京）将通过技术手段对用户数据进行去标识化处理（去标识化处理的信息将无法识别主体），在此情况下大眼伯乐教育科技（北京）有权使用已经去标识化的信息。在个人信息进行脱敏处理的前提下，对用户数据进行分析并予以利用所形成的所有智力成果均归属于大眼伯乐教育科技（北京）所有（包括但不限于专利权、著作权；例如基于平台用户去标识化信息对互联网行业及招聘领域的分析报告等）。
          </p>
          <h3>9.数据安全</h3>
          <p>
            大眼伯乐教育科技（北京）将尽合理的努力保护您的信息安全，并为此采取合理的数据传输、存储、转换等预防保护措施。但是，互联网数据传输、存储、转换均可能存在一定未知且不确定的数据安全风险，该等风险将导致包括但不限于数据丢失、泄露、损坏、无法读取或提取等后果。您确认，您已明确知晓并同意接受该等因互联网引发的风险和后果，并已采取恰当的措施（例如数据备份等），以便在该等风险发生时将损失降至最低。
          </p>
          <p>如果您发现了任何有关快刀简历的潜在安全风险（如系统漏洞等）或者个人信息安全事件，您可以向快刀简历及时反馈并联系我们。</p>
          <p>
            因互联网技术本身等非大眼伯乐教育科技（北京）主观故意或重大过失导致危害您数据安全的，大眼伯乐教育科技（北京）不承担任何赔偿责任。因大眼伯乐教育科技（北京）重大过失危害您数据安全的，大眼伯乐教育科技（北京）的赔偿责任以向您收取的服务费用为上限。
          </p>
          <h3>
            10.免责声明
          </h3>
          <p>一旦您注册成为用户即表示您与大眼伯乐教育科技（北京）达成协议，完全接受本服务条款项下的全部条款。对免责声明的解释、修改及更新权均属于大眼伯乐教育科技（北京）所有。</p>
          <p>• 由于您将用户密码告知他人或与他人共享注册帐户，由此导致的任何个人信息的泄漏，或其他非因大眼伯乐教育科技（北京）原因导致的个人信息的泄漏，大眼伯乐教育科技（北京）不承担任何法律责任；</p>
          <p>• 任何第三方根据大眼伯乐教育科技（北京）各服务条款及声明中所列明的情况使用您的个人信息，由此所产生的纠纷，大眼伯乐教育科技（北京）不承担任何法律责任以及连带责任；</p>
          <p>• 任何由于黑客攻击、电脑病毒侵入或政府管制而造成的暂时性网站关闭，大眼伯乐教育科技（北京）不承担任何法律责任；</p>
          <p>•
            我们鼓励用户充分利用快刀简历自由地发布和共享自己的信息。您可以自由发布文字、图片等内容，但这些内容必须位于公共领域内，或者您拥有这些内容的使用权。同时，用户不应在自己的个人主页或快刀简历的任何其他地方发布受版权保护的内容；
          </p>
          <p>• 用户在快刀简历发布侵犯他人知识产权或其他合法权益的内容，大眼伯乐教育科技（北京）有权予以删除，并保留移交司法机关处理的权利；</p>
          <p>• 用户对于自己创作并在快刀简历上发布的合法内容依法享有著作权及其他相关权利；</p>
          <p>•
            互联网是一个开放平台，用户将图片等资料上传到互联网上，有可能会被其他组织或个人复制、转载、擅改或做其它非法用途，用户必须充分意识到此类风险的存在。用户明确同意使用大眼伯乐教育科技（北京）服务所存在的风险将完全由用户自己承担；因用户使用大眼伯乐教育科技（北京）服务而产生的一切后果也由用户自己承担，大眼伯乐教育科技（北京）对用户不承担任何责任。
          </p>
          <p>•
            快刀简历对用户的真实资信状况、用户发布信息的真实性、合法性、准确性等不作保证。快刀简历不对简历的内容做实质性审查，不保证简历的真实、完整、准确;快刀简历不对用户实际经营状况做实质性审查，不对用户的资信状况做出保证。因上述原因给第三方造成的损失，快刀简历不承担责任。
          </p>
          <p>•
            用户通过快刀简历获取的任何资料和信息，无论其来自于快刀简历或任何外部链接，快刀简历对其不做出任何保证。快刀简历提供与其它互联网上的网站或资源的链接，用户可能会因此跳转至其它运营商经营的网站，但不表示快刀简历与这些运营商有任何关联关系。其它运营商经营的网站均由各经营者自行负责，不属于快刀简历控制及负责范围之内。对于存在或来源于此类网站或资源的任何内容、广告、物品或其它资料，快刀简历亦不予保证或负责。因使用或依赖任何此类网站或资源发布的或经由此类网站或资源获得的任何内容、物品或服务所产生的任何损害或损失，快刀简历不负任何直接或间接的责任。涉及上述条款中的情形，而造成的用户利润、商誉等损失，快刀简历不承担任何直接、间接、附带、惩罚性的赔偿。
          </p>
          <p>•
            快刀简历将不时地指定大眼伯乐教育科技（北京）的关联公司或者第三方作为快刀简历的代理、基础服务商、技术支持方等，以便为用户提供本平台相应的服务。如用户需使用第三方服务以便使用快刀简历相应功能（例如使用第三方账号登录快刀简历、使用第三方支付工具购买快刀简历付费服务等），还应相应遵守第三方服务提供商的相应规则。
          </p>

          <h3>
            11.服务变更/中断/终止
          </h3>
          <p>
            11.1如因系统维护或升级的需要而暂停网络服务、调整服务功能的，大眼伯乐教育科技（北京）将尽可能事先在网站上（https://www.smartresume.careers）、APP客户端或者微信公众号进行通告。网站服务中断期间，快刀简历无需为此而承担对用户造成的任何经济赔偿。因不可抗力事件、情况紧急或政策等原因导致快刀简历以及大眼伯乐教育科技（北京）未能实现提供通告的，暂行中止履行本合同项下的义务，快刀简历以及大眼伯乐教育科技（北京）无需为此而承担违约责任在内的法律责任。
          </p>
          <p>
            11.2如发生下列任何一种情形，大眼伯乐教育科技（北京）有权单方面中断或终止向用户提供服务而无需通知用户：<br>
            • 用户提供的个人资料不真实；<br>
            • 您存在盗用他人账户、发布违禁信息、骗取他人财物或采取不正当手段谋利等行为；<br>
            • 用户使用本服务的行为若有任何违反国家法律法规或侵犯任何第三方合法权益的情形；<br>
            • 用户违反本服务条款中约定的使用规则；<br>
            • 未经大眼伯乐教育科技（北京）同意，将快刀简历用于商业目的。
          </p>
          <p>
            11.3本协议终止后，除法律有明确规定外，大眼伯乐教育科技（北京）无义务向您或您指定的第三方披露您账户中的任何信息。
          </p>
          <p>
            11.4本协议终止后，大眼伯乐教育科技（北京）仍享有下列权利：<br>
            （一）继续保存您留存于快刀简历上的各类信息；<br>
            （二）对于您过往的违约行为，大眼伯乐教育科技（北京）仍可依据本协议向您追究违约责任。
          </p>
          <h3>
            12.服务条款的完善和修改
          </h3>
          <p>
            大眼伯乐教育科技（北京）有权根据互联网的发展和中华人民共和国有关法律、法规的变化，不时地完善和修改大眼伯乐教育科技（北京）服务条款。大眼伯乐教育科技（北京）保留随时修改服务条款的权利，用户在使用大眼伯乐教育科技（北京）的服务时，有必要对最新的大眼伯乐教育科技（北京）服务条款进行仔细阅读和重新确认，当发生相关争议时，以最新的服务条款为准。
          </p>
          <h3>13.特别约定</h3>
          <p>本服务条款及其下的服务受中华人民共和国法律管辖，并按之解释。
            若用户利用本服务从事任何违法或侵权行为，由用户自行承担全部责任，大眼伯乐教育科技（北京）不承担任何法律责任及连带责任。因此给大眼伯乐教育科技（北京）或任何第三方造成任何损失的，用户应负责全额赔偿。</p>
          <p>您因使用快刀简历或大眼伯乐教育科技（北京）符合所产生的有关争议，由大眼伯乐教育科技（北京）与您协商解决。协商不成时，任何一方均可向大眼伯乐教育科技（北京）住所地的人民法院提起诉讼。</p>
          <h3>14.可分性</h3>
          <p>本协议任一条款被视为废止、无效或不可执行，该条应视为可分的且并不影响本协议其余条款的有效性及可执行性。</p>
          <h3>15.联系我们</h3>
          <p>欢迎您对我们的服务条款提出意见。如有任何问题、意见或疑虑，请发邮件至info@smartresume.careers此电子邮件地址作为本服务条款的组成部分可能会不时进行更新。</p>
          <p>©大眼伯乐教育科技（北京）有限公司保留一切权利。</p>
          <div class="agree">
            <button id="agree">同意并继续</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="content-body">
    <p class="title">
      账号注册
    </p>
    <form id="v2-signup-form" name="v2-signup-form" th:action="@{/confirm}" th:method="post">
      <div class="form-content">
        <div class="form-group">
          <label for="sign-up-form-main">邮箱</label>
          <input name="email" type="email" class="form-control" id="sign-up-form-main" aria-describedby="emailHelp"
            placeholder="请输入您的账户邮箱" autofocus />
        </div>
        <div class="consent">
          <label for="consent">
            <input id="consent" type="checkbox" />
            我同意所有快刀简历的使用条款
          </label>
          <span id="modal-toggle">点击查看条款</span>
        </div>
        <script>
          document.addEventListener('DOMContentLoaded', () => {
            const toggle = document.querySelector('#modal-toggle')
            toggle.addEventListener('click', () => {
              document.querySelector('.popup-modal').style.display = 'flex'
            })
            document.getElementById('agree').addEventListener('click', () => {
              document.querySelector('input[type="checkbox"]').checked = true
              document.querySelector('.popup-modal').style.display = 'none'
            })
          })
        </script>
      </div>
      <div class="button-group">
        <a th:href="@{/login}" href="login.html" class="btn btn-light float-left" tabindex="-1" role="button"
          aria-disabled="true">
          返回
        </a>
        <button type="submit" name="subscribe" class="btn btn-success float-right">
          注册邮箱
        </button>
      </div>
    </form>
  </div>
</th:block>

</html>