.container {
  width: 1000px;
  margin: 200px auto;
}

.title{
  font-size: 30px;
  text-align: center;
  color: #333333;
}

.button {
  width: 490px;
  margin: 5px;
}

.optionWrapper{
  display: flex;
}

.option{
  width: 480px;
  height: 349px;
  margin:20px;
  padding:80px;
  border-radius: 8px;
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.1);
  text-align:center;
}

.optionTitle{
  font-size: 30px;
  font-weight: bold;
  color: #3e89ec;
}

.optionDescription{
  font-size: 14px;
  color: #bfc4d3;
}

.buttonWrapper{
  display: flex;
  justify-content: space-evenly;
  padding: 30px;
}

.buttonWrapper .button{
  width: 88px;
}

.uploadButton{
  margin-top:30px;
  width: 190px;
  border-radius: 4px;
  height: 42px;
  border-radius: 4px;
  background-color: #3e89ec;
}

.hidden{
  display: none;
}