apiVersion: v1
kind: ConfigMap
metadata:
  name: common-config
data:
  SPRING_PROFILES_ACTIVE: uat
  SERVER_PORT: "80"
  EMAIL_SERVICE_ENDPOINT: http://email-service
  ACCOUNT_SERVICE_ENDPOINT: http://account-service
  RESUME_SERVICE_ENDPOINT: http://resume-service
  JOB_SERVICE_ENDPOINT: http://job-service
  MATCHING_SERVICE_ENDPOINT: http://matching-service
  SENTRY_DSN: https://270864132b0845e4a9ae4f68f96c77c2@o434398.ingest.sentry.io/5391423
  SIGNING_SECRET: secret
  INTERCOM_ACCESS_TOKEN: YOUR_INTERCOM_ACCESS_TOKEN
  INTERCOM_APP_ID: TBD
  AWS_ACCESS_KEY: <YOUR_AWS_ACCESS_KEY>
  AWS_ACCESS_SECRET: <AWS_ACCESS_SECRET>
  RECAPTCHA_PUBLIC: test-recaptcha-public
  RECAPTCHA_PRIVATE: test-recaptcha-private
  ACCOUNT_DATASOURCE_URL: jdbc:mysql://kuaidaoresume-uat1.cm27uwrvuert.ca-central-1.rds.amazonaws.com:3306/kuaidaoresume_account?useUnicode=true&characterEncoding=utf-8
  ACCOUNT_DATASOURCE_USERNAME: <Ask Aaron>
  ACCOUNT_DATASOURCE_PASSWORD: <check wechat msg>
  RESUME_DATASOURCE_URL: jdbc:mysql://kuaidaoresume-uat1.cm27uwrvuert.ca-central-1.rds.amazonaws.com:3306/kuaidaoresume_resume?useUnicode=true&characterEncoding=utf-8
  RESUME_DATASOURCE_USERNAME: <Ask Aaron>
  RESUME_DATASOURCE_PASSWORD: <check wechat msg>
  JOB_DATASOURCE_URL: jdbc:mysql://kuaidaoresume-uat1.cm27uwrvuert.ca-central-1.rds.amazonaws.com:3306/kuaidaoresume_job?useUnicode=true&characterEncoding=utf-8
  JOB_DATASOURCE_USERNAME: <Ask Aaron>
  JOB_DATASOURCE_PASSWORD: <check wechat msg>
  MOCK_JOB_FETCH: set_during_deployment