.suggestion-dropdown {
  display: flex;
  .dropdown-1 > .selected-option {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    .title {
      width: 100%;
    }
  }
  .dropdown-1 {
    flex: 2;
  }
  .dropdown-2 {
    flex: 3;
    .selected-option {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
      .title {
        width: 100%;
      }
    }
  }
}
